@use "../../util/" as *;

.contact-social-media {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 1rem;
    border: 0.1875rem solid var(--secondary-color);
    border-radius: 20rem;

    transition: background 300ms ease, box-shadow 300ms ease;

    svg {
      width: 2rem;
      height: 2rem;
      path {
        fill: var(--secondary-color);
      }
    }

    &:hover {
      background: var(--primary-color);
      box-shadow: 0 0.625rem 1.875rem -0.3125rem var(--secondary-color);
      p {
        color: var(--tertiary-color);
      }
      svg {
        path {
          fill: var(--tertiary-color);
        }
      }
    }
  }
}
