@use "../../util/" as *;

.contact-form {
  width: 100%;
  max-width: 700px;
  font-size: var(--body-size);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  box-shadow: 0 0 30px 0px var(--tertiary-color);
  padding: 2.5rem;
  border-radius: 10px;

  .textarea-wrapper {
    height: 200px;

    label {
      transform: translateY(-320%);
    }

    textarea {
      padding-top: 1rem;
      resize: none;
    }
  }

  &__input-wrapper {
    width: 100%;
    height: 40px;
    position: relative;

    .input {
      border-radius: 5px;
      border: none;
      outline: none;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      padding-left: 1rem;
      border: 3px solid var(--disabled-color);
      transition: border 600ms ease;

      &:focus {
        border: 3px solid var(--primary-color);
      }

      &:focus + label {
        font-weight: var(--font-extra-bold);
        color: var(--primary-color);
      }

      &:focus:required:invalid {
        border: 3px solid var(--error-color);
      }
      &:focus:required:invalid + label {
        color: var(--error-color);
      }
    }

    label {
      transform: translateY(-120%);
      position: absolute;
      z-index: 20;
      top: 25%;
      left: 1rem;
      font-size: 16px;
      transition: color 200ms ease, font-weight 200ms ease;
      background: var(--bg-color);
      padding: 0 1rem;
      margin-bottom: 1rem;
    }
  }

  &__submit-btn {
    @include primaryButton;
  }
}
