@use "../util/" as *;

// Sizes of fonts globally

*::selection {
  background: var(--secondary-color);
}

// Smooth scroll
html {
  scroll-behavior: smooth;
}

@include breakpoint-down(medium) {
  html {
    font-size: 12px;
  }
}

:root {
  --margin-section: 5rem;
}
