:root {
  --photo-size: 23rem;
  --blob-border-radius: 20rem;
  // --blob-border-radius: 43% 57% 35% 65% / 50% 50% 50% 50%;
}

.hero-photo {
  position: relative;
  width: var(--photo-size);
  height: var(--photo-size);
  border-radius: var(--blob-border-radius);
  padding: 0.5rem;
  background: var(--primary-color);
  box-shadow: 0 10px 20px 0px var(--secondary-color);

  img {
    border-radius: var(--blob-border-radius);
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top;

    filter: grayscale(100%);

    // position: absolute;
    // z-index: 20;
    // inset: 0%;
  }

  .blob {
    border-radius: var(--blob-border-radius);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
