@mixin primaryButton {
  padding: 1rem 2rem;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  color: var(--tertiary-color);
  font-weight: var(--font-bold);

  transition: background 200ms ease;

  &:active {
    background: var(--secondary-color);
  }
}
