@use "../../util/" as *;

.proyects__proyect {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  background: var(--tertiary-color);
  // border: 6px solid var(--secondary-color);

  border-radius: 10px;

  padding: 2rem;

  transition: background 300ms ease;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  video {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .texts-content {
    padding: 2rem;

    .title,
    .description {
      color: var(--font-color);
      transition: color 300ms ease;
      text-align: center;
    }

    .title {
      font-size: var(--subtitle-size);
      color: var(--secondary-color);
    }

    .description {
      padding-top: 1rem;
      font-size: var(--body-size);
      line-height: var(--subtitle-size);
    }
  }

  &:hover {
    background: var(--primary-color);

    .title,
    .description {
      color: var(--tertiary-color);
    }
  }

  @include breakpoint-down(small) {
    border-radius: 0;
  }
}
