@use "../../util/" as *;

.proyects__proyect {
  background: var(--tertiary-color);
  border-radius: 10px;
  overflow: hidden;

  aspect-ratio: 16/9;

  img {
    transition: padding 200ms ease;

    width: 100%;
    height: 100%;
    padding: 3rem;

    cursor: pointer;

    &:hover {
      padding: 1.5rem;
    }
  }
}
